.ranglistContainer{
    background-color: rgb(12, 12, 12);
    color: rgb(234, 201, 242);
    text-align: left;
    padding: 30px 0;
    font-size: 14px;
}

.ranglistTable {
    width: 80%;
    border-collapse: collapse;
}